:root {
  /* Variables */
  --button-height: 60px;
}

.Button {
  width: 250px;
  height: var(--button-height);

  /* Default color */
  background-color: var(--jd-gray);

  text-align: center;
  line-height: var(--button-height);
  vertical-align: middle;
  font-size: 1.5em;
  color: rgba(10, 10, 10, 0.9);
  box-shadow: var(--menu-shadow);
}

.Button:hover {
  cursor: pointer;
  filter: brightness(105%);
}

.Button:active {
  filter: brightness(95%);
}
